<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyHttpTextBinding_ITimingSystemDataPreprocessingSvc" />
                <binding name="MyHttpsTextBinding_ITimingSystemDataPreprocessingSvc">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="MyHttpsCustomBinaryBinding_ITimingSystemDataPreprocessingSvc">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/ITimingSystemDataPreprocessingSvc/HttpText"
                binding="basicHttpBinding" bindingConfiguration="MyHttpTextBinding_ITimingSystemDataPreprocessingSvc"
                contract="ServiceReference1.ITimingSystemDataPreprocessingSvc"
                name="MyHttpTextBinding_ITimingSystemDataPreprocessingSvc" />
            <endpoint address="https://localhost:5001/ITimingSystemDataPreprocessingSvc/HttpsText"
                binding="basicHttpBinding" bindingConfiguration="MyHttpsTextBinding_ITimingSystemDataPreprocessingSvc"
                contract="ServiceReference1.ITimingSystemDataPreprocessingSvc"
                name="MyHttpsTextBinding_ITimingSystemDataPreprocessingSvc" />
            <endpoint address="https://localhost:5001/ITimingSystemDataPreprocessingSvc/HttpsBinary"
                binding="customBinding" bindingConfiguration="MyHttpsCustomBinaryBinding_ITimingSystemDataPreprocessingSvc"
                contract="ServiceReference1.ITimingSystemDataPreprocessingSvc"
                name="MyHttpsCustomBinaryBinding_ITimingSystemDataPreprocessingSvc" />
        </client>
    </system.serviceModel>
</configuration>
